@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/functions';

.article {
    padding-top: 171px;
    padding-bottom: clamp(10px, size-desktop(250px), 250px);
    &__back-link {
        display: block;

        margin-bottom: clamp(10px, size-desktop(120px), 120px);

        color: $light-grey;
    }
    &__title {
        margin-bottom: clamp(10px, size-desktop(127px), 127px);
        line-height: 1.2;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: size-desktop(40px) 0;
        margin-bottom: clamp(10px, size-desktop(100px), 100px);

        border-top: $contour-grey;
        border-bottom: $contour-grey;
    }
    &__tag-list {
        display: flex;
    }
    &__tag-item {
        font-size: clamp(13px, size-desktop(18px), 18px);

        padding: size-desktop(10px) size-desktop(20px);

        text-transform: uppercase;

        border: $contour-white;
        border-radius: size-desktop(100px);

        &:before {
            content: '# ';
        }
        &:not(:last-child) {
            margin-right: size-desktop(20px);
        }
    }

    &__body {
        & h2 {
            line-height: 1.4;
            margin-bottom: 1.5em;
        }

        p {
            min-height: 1px;
        }

        a {
            text-decoration: underline;
        }

        strong {
            font-weight: 600;
        }

        line-height: 1.4;
    }

    &__date {
        font-size: clamp(13px, size-desktop(18px), 18px);

        color: $light-grey;
    }
    &__content {
        display: flex;

        padding-bottom: size-desktop(67px);
        margin-bottom: size-desktop(50px);

        border-bottom: $contour-grey;
    }
    &__content-img {
        max-width: 680px;
        width: size-desktop(680px);
        max-height: 430px;
        height: size-desktop(430px);

        margin-right: size-desktop(20px);
    }
    &__up {
        color: $white;
        margin-left: auto;
        margin-right: -8px;
    }

    @media screen and (max-width: 1024px) {
        &__wrapper {
            padding-top: 10px;
        }
        &__title {
            margin-bottom: 110px;
        }
        &__filter {
            margin-bottom: 50px;
            &-item {
                margin-right: 15.75px !important;
                line-height: 1.4;
            }
        }
        &__back-link {
            margin-bottom: 190px;
            svg {
                width: 16px !important;
                height: 16px !important;
            }
        }
        &__button {
            margin-top: 40px;
            font-size: 14px;
            max-width: unset;
            width: 335px;
            margin-right: 2px;
            padding: 6.5px;
        }
        &__body {
            h2 {
                font-size: 24px !important;
                line-height: 1.3925;
            }
            p {
                font-size: clamp(13px, size-desktop(18px), 18px);
            }
        }

        &__up {
            span {
                font-size: clamp(13px, size-desktop(18px), 18px);
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding: 88px 0;
        &__back-link {
            margin-bottom: 46.5px !important;

            padding: unset;
            span {
                margin-left: -10px;
                line-height: 1.4;
            }
            svg {
                width: 16px !important;
                height: 16px !important;
            }
        }
        &__title {
            font-size: 30px !important;
            line-height: 1.2;
            margin-bottom: 28.5px;
        }
        &__info {
            margin-bottom: 54px;
        }
        &__tag-item {
            border: none;
        }
        &__content {
            flex-direction: column;
            &-img {
                max-width: unset !important;
                width: 100%;
                height: 310px;
                object-fit: cover;
            }
        }
        &__body {
            line-height: 1.3925;
            h2 {
                margin-top: 20px;
                font-size: 18px !important;
                line-height: 1.3925;
            }
            p {
                font-size: 15px;
            }
        }
        &__up {
            span {
                font-size: 12px;
            }
            svg {
                width: 15px !important;
                height: 15px !important;
                margin-top: 3px;
                margin-left: 10px !important;
            }
        }
        &__first-p {
            font-size: 13px !important;
            margin: 19.5px 0 !important;
        }
    }
}
