@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/functions';
.month-results {
    padding-top: 171px;
    padding-bottom: clamp(10px, size-desktop(175px), 175px);
    &__back-link {
        display: block;

        margin-bottom: clamp(10px, size-desktop(120px), 120px);

        color: $light-grey;
    }
    &__title {
        margin-bottom: clamp(10px, size-desktop(200px), 200px);
        line-height: 1.2;
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__span {
        font-size: clamp(13px, size-desktop(18px), 18px);
        display: block;
        width: 100%;
        padding-right: 20px;
        max-width: 515px;
    }
    &__body {
        max-width: 60%;
        width: 100%;
    }

    &__table {
        margin-top: 25px;
        font-size: clamp(13px, size-desktop(18px), 18px);
        display: flex;
        word-break: break-all;
        gap: 60px;
        text-align: center;
        vertical-align: middle;
        line-height: 1.4;
        &-item:nth-child(2n + 1) {
            // text-transform: lowercase;
        }
        // Стили для двух верхних таблиц + общие стили
        &-left {
            display: grid;
            grid-template-columns: repeat(
                2,
                clamp(115px, size-desktop(144px), 144px)
            );
            grid-template-rows: repeat(
                2,
                clamp(61px, size-desktop(80px), 80px)
            );
        }

        &-left div {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            border-right: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            justify-content: center;

            &:nth-child(2) {
                border-right: none;
            }

            &:nth-child(3) {
                border-bottom: none;
            }

            &:nth-child(4) {
                border-bottom: none;
                border-right: none;
            }

            &:nth-child(1)::before {
                content: '';
                display: block;
                width: 25px;
                height: 1px;
                background: $dark-grey;
                position: absolute;
                bottom: -1px;
                left: 0;
            }

            &:nth-child(2)::before {
                content: '';
                display: block;
                width: 25px;
                height: 1px;
                background: $dark-grey;
                position: absolute;
                bottom: -1px;
                right: 0;
            }
        }

        &-right {
            display: grid;
            grid-template-columns:
                clamp(95px, size-desktop(120px), 120px) clamp(
                    115px,
                    size-desktop(144px),
                    144px
                )
                clamp(115px, size-desktop(144px), 144px) clamp(
                    95px,
                    size-desktop(120px),
                    120px
                );
            grid-template-rows:
                clamp(61px, size-desktop(80px), 80px)
                clamp(94px, size-desktop(115px), 115px)
                clamp(61px, size-desktop(80px), 80px);
        }

        &-right div {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            border-right: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            justify-content: center;
            &:nth-child(4),
            &:nth-child(8),
            &:nth-child(12) {
                border-right: none;
            }
            &:nth-child(9),
            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12) {
                border-bottom: none;
            }

            &:nth-child(1)::before,
            &:nth-child(5)::before,
            &:nth-child(9)::before {
                content: '';
                display: block;
                width: 25px;
                height: 1px;
                background: $dark-grey;
                position: absolute;
                bottom: -1px;
                left: 0;
            }

            &:nth-child(4)::before,
            &:nth-child(8)::before {
                content: '';
                display: block;
                width: 25px;
                height: 1px;
                background: $dark-grey;
                position: absolute;
                bottom: -1px;
                right: 0;
            }
        }

        // Стили для двух нижних таблиц
        &-bottom {
            margin-top: 95px;
            .month-results__table-left {
                grid-template-columns: repeat(
                    1,
                    clamp(230px, size-desktop(288px), 288px)
                );
                grid-template-rows: repeat(
                    2,
                    clamp(61px, size-desktop(80px), 80px)
                );

                & div {
                    &:nth-child(1) {
                        border-right: none;
                    }
                    &:nth-child(2) {
                        border-bottom: none;
                    }

                    &:nth-child(1)::after {
                        content: '';
                        display: block;
                        width: 25px;
                        height: 1px;
                        background: $dark-grey;
                        position: absolute;
                        bottom: -1px;
                        right: 0;
                    }
                }
            }
            .month-results__table-right {
                grid-template-rows: repeat(
                    2,
                    clamp(61px, size-desktop(80px), 80px)
                );
                & div {
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7),
                    &:nth-child(8) {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    &__body-text {
        font-size: clamp(13px, size-desktop(18px), 18px);
        margin-top: 75px;
        line-height: 1.4;
    }
    &__body-link {
        margin-top: 50px;
    }

    @media (min-width: 768px) and (max-width: 1280px) {
        &__table-content {
            font-size: 14px;
            padding: 10px;
        }
        &__content {
            flex-direction: row !important;
        }
        &__span {
            width: 50%;
        }
        &__table-item {
            font-size: 10px;
            text-align: left;
        }
    }

    @media screen and (max-width: 1280px) {
        padding: 100px 0;
        overflow: hidden;
        &__body {
            max-width: unset;
        }
        &__title {
            font-size: 24px !important;
        }
        &__content {
            flex-direction: column;
        }
        &__tables {
            flex-direction: column;
        }
        &__table {
            flex-direction: column;
        }
        &__table-content {
            font-size: 12px;
            padding: 10px;
        }
        &__table-contents--4 {
            grid-template-columns: repeat(4, clamp(80px, 7.5vw, 200px));
        }
        .button__text {
            font-size: 13px;
        }

        &__table-left {
            grid-template-columns: clamp(90px, 7.5vw, 144px) clamp(
                    75px,
                    7.5vw,
                    144px
                );
        }
        &__table-right {
            grid-template-columns:
                clamp(90px, 6.25vw, 120px) clamp(75px, 7.5vw, 144px)
                clamp(100px, 7.5vw, 144px) clamp(75px, 6.25vw, 120px);
        }
    }
}
