html {
    box-sizing: border-box;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    @include roman;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    pointer-events: all;
}

li {
    list-style: none;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    outline: none;
    border: none;
    z-index: 1;
    position: relative;
}

a,
button {
    outline: transparent;
    z-index: 1;
    position: relative;
    pointer-events: all;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}
