@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/functions';

.storys-demo {
    padding-bottom: clamp(10px, size-desktop(250px), 250px);
    &__wrapper {
        position: relative;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: size-desktop(20px);
    }

    &__item {
        display: flex;
        flex-direction: column;

        overflow: hidden;

        width: 100%;

        &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 2;
        }
        &:nth-child(2) {
            grid-area: 1 / 3 / 2 / 4;
        }
        &:nth-child(3) {
            grid-area: 1 / 4 / 2 / 6;
        }
        &:nth-child(4) {
            grid-area: 2 / 2 / 3 / 4;
        }
        &:nth-child(5) {
            grid-area: 2 / 4 / 3 / 5;
        }
    }

    &__item--big {
        .storys-demo__item-img {
            min-height: clamp(10px, size-desktop(275px), 275px);
            width: 100%;
            width: 100%;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        line-height: 25.2px;
        height: 100%;

        background-color: $grey;
    }
    &__item-content {
        display: flex;
        flex-direction: column;
        flex: 1;

        padding: size-desktop(20px);
    }

    &__item-imgBg {
        background-color: $white;
        height: 100%;
    }
    &__item-imgBl {
        height: 100%;
        overflow: hidden;
    }
    &__item-img {
        object-fit: cover;
        min-height: clamp(10px, size-desktop(200px), 200px);
        width: 100%;
    }
    &__item-tagbox {
        margin-bottom: size-desktop(10px);
    }
    &__item-tag {
        font-size: clamp(13px, size-desktop(18px), 18px);

        display: inline-block;

        color: $light-grey;
    }
    &__item-body {
        flex-grow: 1;
    }
    &__item-title {
        font-size: clamp(13px, size-desktop(18px), 18px);
        line-height: 1.4;

        margin-bottom: size-desktop(20px);

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    &__item-text {
        font-size: clamp(13px, size-desktop(18px), 18px);
        margin-bottom: clamp(10px, size-desktop(17px), 17px);
    }
    &__item-link {
        min-width: 120px;
        margin-left: auto;
    }
    &__link {
        grid-area: 2 / 5 / 3 / 6;
        margin-bottom: 33px;
        margin-top: auto;
        font-size: clamp(13px, size-desktop(18px), 18px);
        line-height: 21px;

        transition: color 0.3s;
        &:hover {
            color: $light-grey;
        }
    }
    &__item-imgBg {
        width: 100% !important;
    }
    @media screen and (max-width: 1024px) {
        &__title {
            margin-bottom: 63px !important;
        }
        &__item-content {
            padding: size-desktop(34px);
            padding-bottom: size-desktop(44px);
        }
        &__item-tag {
            font-size: clamp(13px, size-desktop(36px), 30px);
        }
        &__item-title {
            font-size: clamp(13px, size-desktop(30px), 30px);
        }
        &__item-text {
            font-size: clamp(13px, size-desktop(30px), 30px);
        }
        &__item {
            &:nth-child(1) {
                grid-area: 1 / 1 / 2 / 4;
            }
            &:nth-child(2) {
                grid-area: 1 / 4 / 2 / 6;
            }
            &:nth-child(3) {
                grid-area: 2 / 1 / 2 / 3;
            }
            &:nth-child(4) {
                grid-area: 2 / 3 / 3 / 6;
            }
            &:nth-child(5) {
                grid-area: 3 / 1 / 3 / 4;
            }

            // Для нечетных
        }
        &__item-link {
            // margin-top: 33px;
        }
        &__link {
            grid-area: 3 / 4 / 4 / 6;
        }
    }

    @media screen and (max-width: 767px) and (min-width: 376px) {
        padding-top: 100px;
        &__link {
            display: flex;
            justify-content: flex-end;
        }
        &__body {
            height: 375px;
        }
    }

    @media screen and (max-width: 375px) {
        padding-top: 100px;
        .swiper::before,
        .swiper::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 60px;
            pointer-events: none;
        }

        .swiper::before {
            left: 0px;
            background: linear-gradient(to right, #0e0e0e, transparent);
            z-index: 10;
        }

        .swiper::after {
            right: 0px;
            background: linear-gradient(to left, #0e0e0e, transparent);
            z-index: 10;
        }

        &__title {
            font-size: 24px !important;
            margin-bottom: 40px !important;
        }
        &__item-img {
            height: 120px;
            object-fit: unset !important;
        }
        &__item-content {
            padding: 10px;
        }
        &__item-tag {
            font-size: 12px !important;
            line-height: 1.3;
        }
        &__item-title {
            font-size: 12px !important;
            line-height: 1.3;
            margin-top: 4px;
        }
        &__item-text {
            line-height: 1.37;
            margin-top: 40px;
        }
        &__item-link {
            margin-left: unset;
            margin-top: 11px;
            width: calc(100% - 3px);
            padding: 3px 0;
            margin: 11px 1px 1px 1px;
            max-width: unset !important;
        }
        &__body {
            height: 375px;
        }
        .link__text {
            font-size: 14px !important;
        }
        &__bottom-link {
            float: right;
            margin-top: 15px;
            line-height: 16px;
            svg {
                margin-left: 11px !important;
                margin-top: 0;
                margin-right: -2px;
                width: 20px !important;
                height: 20px !important;
            }
            span {
                line-height: 16px;
            }
        }
    }
}
.animation-image {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;

    z-index: 80;
    &__wrapper {
        position: relative;
        margin: 0;
        height: 100%;
        width: 100%;
        z-index: 80;
    }
    &__box {
        position: relative;
        overflow: hidden;
        display: grid;
        place-items: center;
        width: 100%;
        height: auto;
        aspect-ratio: 1.65;
        z-index: 80;
    }
}
