@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/functions';
.blog-demo {
    padding-bottom: clamp(10px, size-desktop(250px), 250px);
    margin-top: -8px;
    margin-bottom: 0px;
    &__link-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 20px;
    }
    &__link {
        padding: 10px 20px;
        margin-top: 50px;
        line-height: 1.4;
        width: max-content;
        grid-column: 5/6;
    }
    @media screen and (max-width: 1600px) {
        .link {
            margin-top: 50px;
            line-height: 1.4;
            grid-column: 3/6;
            margin-right: 0;
            width: auto;
        }
    }
    @media screen and (max-width: 1024px) {
        &__title {
            margin-bottom: 63px !important;
        }
        .link {
            margin-top: 50px;
            max-width: 510px !important;
            padding: 4px;
            margin-right: 0;
        }
    }

    @media screen and (max-width: 768px) {
        padding-top: 96px;
        &__title {
            font-size: 24px !important;
            margin-bottom: 74px !important;
        }
        .link {
            margin-top: 20px;
            max-width: unset !important;
            padding: 4px;
            margin-right: 0;
            width: 100%;
            margin-left: 4px;
            &__text {
                font-size: 12.5px !important;
            }
        }
    }
}
