@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/functions';
.services {
    padding-top: 171px;
    padding-bottom: clamp(10px, size-desktop(250px), 250px);
    &__back-link {
        display: block;

        margin-bottom: clamp(10px, size-desktop(110px), 110px);

        color: $light-grey;
    }
    &__title {
        margin-bottom: clamp(10px, size-desktop(198px), 198px);
    }
    &__subtext {
        margin-left: auto;
        width: 59.5%;
        margin-top: 60px;
        & > p:not(:last-child) {
            margin-bottom: 12px;
            line-height: 25.2px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__subtext {
            width: 100%;
        }
        &__subtext {
            font-size: clamp(13px, size-laptop(18px), 18px);
            margin-top: 40px;
            & > p:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    @media screen and (max-width: 767px) {
        padding: 100px 0;
        &__title {
            font-size: 24px !important;
            margin-bottom: 40px !important;
        }
        &__subtext {
            margin-top: 40px;
            & > p:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &__subtext {
            font-size: 13px !important;
        }

        &__text {
            margin-bottom: unset !important;
            &:first-child {
                margin-bottom: 30px !important;
                font-size: 14px !important;
            }
        }
    }
}
