@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/functions';
.services-demo {
    padding: clamp(100px, size-desktop(250px), 250px) 0;
    padding-bottom: 245px;
    &__link {
        margin-left: auto;
        margin-top: 48px;
        max-width: 680px;
        line-height: 21.6px;
    }
}
