@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';

#preloader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Убираем 180vh */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 180;
    background-color: #ffffff;
    background-image: url('../../../../public/images/bg.png');
    visibility: hidden; /* Скрываем прелоадер до его анимации */
    opacity: 0;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease; /* Плавное появление */
}

#preloader-wrapper.show {
    visibility: visible;
    opacity: 1; /* Показываем, когда нужно */
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $dark-grey;
    background-image: url('../../../../public/images/bg2.png');
    z-index: 180;
    flex-direction: column;
    opacity: 0; /* Скрываем до анимации */
    transition: opacity 0.5s ease; /* Плавное появление */
}

#preloader.show {
    opacity: 1; /* Показываем при активации */
}

#percent {
    color: rgb(255, 255, 255);
}

#bar {
    width: 60%;
    margin-top: 20px;
}

#barconfirm {
    width: 1%;
    padding: 1px 0;
    background-color: rgb(255, 255, 255);
}
