@import '../../scss/abstracts/functions';
@import '../../scss/abstracts/variables';

.info {
    display: flex;
    flex-direction: column;

    .canvas {
        width: 1000px;
        height: 1000px;
    }
    .container {
        margin-top: auto;
        margin-bottom: auto;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 40.5%;
        margin-top: auto;
    }
    &__title {
        line-height: 1.2;
        margin-bottom: 50px;
        max-width: 50vw;
    }
    &__text {
        font-size: 18px;
        color: #fff;

        line-height: 1.4;

        max-width: 66%;
        min-width: 510px;
        margin-bottom: 25px;
        &:last-of-type {
            margin-bottom: 50;
        }
    }

    &__link {
        font-size: 18px;

        max-width: 141px;
    }

    &__b {
        color: #fff;
        font-weight: 900;
    }

    @media screen and (min-width: 1024px) {
        .container {
            margin-top: 0;
            margin-bottom: 0;
        }
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 100vh;
            margin-left: 40.5%;
            margin-top: 86px;
            padding-bottom: 60px;
        }
    }

    @media screen and (max-width: 1024px) {
        &__wrapper {
            margin-left: calc(40% + 6px);
            margin-top: 0px;
            padding-top: 100px;
            // justify-content: center;
            // min-height: 100vh;
            padding-bottom: 60px;
            margin-bottom: 24px;
            &:last-of-type {
                margin-bottom: 48;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &__wrapper {
            margin-left: 0;
            overflow: hidden;
            padding-top: 154px;
        }
        &__title {
            max-width: unset;
            font-size: 30px !important;
            margin-bottom: 30px !important;
        }
        &__text {
            font-size: 13px !important;
            min-width: unset;
            max-width: unset;
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 30px;
            }
        }
    }
}
