@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/mixins';
@import '../../scss/abstracts/functions';
.archetypes-demo {
    padding-bottom: clamp(10px, size-desktop(250px), 250px);
    @media screen and (max-width: 768px) {
        padding-top: 100px;
        &__title {
            font-size: 24px !important;
            margin-bottom: 40px !important;
        }
    }
}
